@import url(./font.css);

:root{
    --dark:#34313D;
    --icon-bg:#3A3054;
    --search-bg:#4B3F6B;
    --font:#9E9AA8;
    --main-bg:#EFF1F7;
    --aqua:#2BD0D0;
    --poppins:"Poppins";
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1440px;
    padding-left: 165px;
    padding-right: 165px;
    margin: auto;
}
.logo{
    width: 120.043px;
    height: 32.674px;
    color: var(--dark);
}

/* Global styless */
