@import url(./font.css);

:root {
    --dark: #34313D;
    --icon-bg: #3A3054;
    --search-bg: #4B3F6B;
    --font: #9E9AA8;
    --main-bg: #EFF1F7;
    --aqua: #2BD0D0;
    --poppins: "Poppins";
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    padding-left: 165px;
    padding-right: 165px;
    margin: auto;
}

.logo {
    width: 120.043px;
    height: 32.674px;
    color: var(--dark);
}

/* Global styless */
.site-hero {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    align-items: center;
}

.hero-menu {
    display: flex;
    align-items: center;
}


.menu-link {
    padding-right: 30px;
    color: var(--font);
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 700;
    transition: .5s;
    cursor: pointer;
}

.menu-link:active {
    color: var(--dark);
}

.logo {
    padding-right: 45.43px;
}


.hero-registration {
    display: flex;
    align-items: center;
}


.regis-link {
    color: var(--font);
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 700;
}

.sign {
    border-radius: 28px;
    background-color: var(--aqua);
    padding: 9px 23px 8px 24px;
    margin-left: 37px;
    transition: .5s;
    cursor: pointer;
}

.sign-up {
    color: #fff;
}

.sign:active {
    background-color: #9AE3E3;
}

/* Site Header */
.site-header {
    display: flex;
    justify-content: space-between;
    padding-top: 78px;

}

.header-text-section {
    padding-top: 61px;
}

.header-title {
    max-width: 565px;
    width: 100%;
    color: var(--dark);
    font-family: var(--poppins);
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -2px;
}

.header-cont {
    width: 1440px;
    padding-left: 165px;
    display: flex;
    padding-right: 0;
}

.header-text {
    padding-top: 5px;
    max-width: 540px;
    width: 100%;
    color: var(--font);
    font-family: var(--poppins);
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;
}

.button {
    margin-top: 38px;
    width: 197px;
    border-radius: 28px;
    background: var(--aqua);
    padding: 14px 40px 12px 40px;
    transition: .5s;
    cursor: pointer;
}

.button:active {
    background-color: #9AE3E3;
    cursor: pointer;
}

.started {
    color: #fff;
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 700;
}

.header-media {
    padding-left: 100px;
    margin-bottom: 68px;
}

.site-header-form {
    display: flex;
    column-gap: 24px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 52px;
    background-color: var(--icon-bg);
    position: relative;
}

.form-text {
    width: 769px;
    height: 64px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    padding: 14px 0 14px 32px;
    color: var(--dark);
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;
    cursor: pointer;
}


.form-btn {
    width: 188px;
    height: 64px;
    border-radius: 10px;
    background-color: var(--aqua);
    border: none;
    color: #FFF;
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.form-btn:active {
    background-color: #9AE3E3;
}

/* Main section */
.section-main {
    position: absolute;
    top: 805px;
    background: #EFF1F7;
    width: 100%;
    z-index: -1;
}

.section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 204px;
    gap: 18px;
}

.info-title {
    color: var(--dark);
    font-family: var(--poppins);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}

.info-text {
    color: var(--font);
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.123px;
    max-width: 540px;
    width: 100%;
    text-align: center;
}

.section-cards {
    display: flex;
    column-gap: 30px;
    position: relative;
}

.cards-line {
    width: 1110px;
    height: 8px;
    background: var(--aqua);
    position: absolute;
    top: 252px;
}

.cards {
    background-color: #fff;
    width: 350px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 208px;
    height: 267px;
}

.one {
    margin-top: 144px;
}

.two {
    margin-top: 188px;

}

.card-img {
    width: 88px;
    height: 88px;
    background-color: var(--icon-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -44px;
    left: 32px;
}

.card-title-text {
    padding: 77px 32px 41px 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-title {
    color: var(--dark);
    font-family: var(--poppins);
    font-size: 22px;
    font-weight: 700;

}

.card-text {
    color: var(--font);
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    max-width: 286px;
    width: 100%;

}

/* Site-Footer */
.site-footer {
    width: 100%;
    background: #3A3054;
    margin-top: 909px;
}

.site-footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.footer-title {
    color: #FFF;
    text-align: center;
    font-family: var(--poppins);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    padding-top: 57px;
}

.f-btn {
    margin-bottom: 57px;

}

.site-footer-bottom {
    padding-top: 72px;
    width: 100%;
    background-color: #232127;
    padding-bottom: 70px;
}

.footer-bottom {
    display: flex;
}

.footer-logo {
    width: 120.043px;
    height: 32.674px;
    padding-right: 261px;
}

.bottom-links {
    display: flex;
}

.links {
    padding-left: 110px;
    align-items: center;
}

.w-link {
    padding-bottom: 20px;
}

.linkb {
    color: #FFF;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.25px;
}

.b-link {
    padding-bottom: 10px;
}

.link-a {
    transition: .5s;
}

.link-a:active {
    cursor: pointer;
    color: var(--aqua);
}

.link-a {
    color: #BFBFBF;
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.234px;
}


.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 110px;
    column-gap: 20px;
}



.link {
    color: #fff;
    transition: .5s;
}

.link:active {
    color: var(--aqua);
}